<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wog.pathfinder.initiative.tracker" version="0.1.0">
  <name>Wog Pathfinder Initiative Tracker</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="wogcarver@gmail.com">
    John Smith
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <plugin name="cordova-plugin-x-toast" spec="^2.6.0" />
  <plugin name="cordova-plugin-bluetoothle" spec="^4.4.3" />
</widget>
